html,
body {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

body {
  font-weight: bold;
  font-style: italic;
  font-size: 15em;
  background-color: #1e0227;
}

svg {
  width: 100%;
  height: 100vh;
}

.text {
  fill: none;
  stroke: white;
  stroke-width: 5;
  stroke-dasharray: 60 300;
  animation: stroke 6s linear infinite;
}

.text:nth-of-type(1) {
  stroke: #b80c09;
}

.text:nth-of-type(2) {
  stroke: #fffc31;
  animation-delay: -1.2s;
}

.text:nth-of-type(3) {
  stroke: #d5f2e3;
  animation-delay: -2.4s;
}

.text:nth-of-type(4) {
  stroke: #03f7eb;
  animation-delay: -3.6s;
}

.text:nth-of-type(5) {
  stroke: #b91372;
  animation-delay: -4.8s;
}

@keyframes stroke {
  to {
    stroke-dashoffset: 360;
  }
}
