* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 22px;
}

body {
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-family: Helvetica, Arial;
  background-image: radial-gradient(
    circle 506px at 50.6% 16.5%,
    rgba(239, 252, 250, 1) 5.5%,
    rgba(154, 192, 206, 1) 100.2%
  );
}

.card-container {
  width: 300px;
  height: 400px;
  position: relative;
  perspective: 1000px;
}

.cover,
.back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  transition: transform 0.25s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  border-radius: 0.4rem;
  box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.18);
  cursor: pointer;
  text-shadow: 0 0.15rem 0.2rem rgba(0, 0, 0, 0.2);
  color: #fff;
}

.cover {
  transform: rotateY(0deg);
  background-image: radial-gradient(
    circle 484px at 49.4% 19%,
    rgba(23, 156, 214, 1) 0%,
    rgba(52, 48, 111, 1) 100.2%
  );
}

.card-container:hover .cover {
  transform: rotateY(180deg);
}

.back {
  transform: rotateY(-180deg);
  background-image: radial-gradient(
    farthest-corner at 10% 20%,
    rgba(255, 171, 0, 1) 0%,
    rgba(255, 139, 0, 1) 90.1%
  );
}

.card-container:hover .back {
  transform: rotateY(0deg);
}
