body {
  margin: 0;
  padding: 0;
}

.sun {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffeea2;
  z-index: 10;
  clip-path: inset(0px 50% 0px 0px);
}

.sun::after {
  content: "";
  display: block;
  width: 600px;
  height: 600px;
  background: orange;
  border-radius: 50%;
}

.sea {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 30%;
  backdrop-filter: blur(100px);
  -webkit-backdrop-filter: blur(100px);
  z-index: 20;
}

.moon {
  position: absolute;
  background: #040720;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.moon::after {
  content: "";
  display: block;
  width: 600px;
  height: 600px;
  box-shadow: 160px 180px 0px cyan;
  border-radius: 50%;
  transform: translate(-160px, -180px);
}
